src/test/resources/hazelcast-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:hazelcast="http://www.mulesoft.org/schema/mule/hazelcast"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/hazelcast http://www.mulesoft.org/schema/mule/hazelcast/current/mule-hazelcast.xsd">

    <hazelcast:config name="hazelcast"/>

    <flow name="testFlow">
        <hazelcast:queue-offer config-ref="hazelcast" queue="theQueue" value-ref="#[sdf]" timeout="1000"/>

    </flow>
</mule>
